<div class="masonry row row-sm-padding">
                                <div class="masonry-item col-md-6 col-lg-3 africa">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Afrique du sud").id %>">
                                                <img src="<%= asset_path("country/Afrique-du-sud.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Afrique du sud</a>
                                                    <span class="clearfix"></span>


                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="/countries/<%= Country.find_by(name: "Afrique du sud").id %>" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Afrique du sud").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 africa">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                        <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Egypte").id %>">
                                                <img src="<%= asset_path("country/Egypte.jpg") %>">

                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Egypte</a>
                                                    <span class="clearfix"></span>

                                                    
                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="/countries/<%= Country.find_by(name: "Egypte").id %>" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Egypte").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 africa">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Maroc").id %>">
                                                <img src="<%= asset_path("country/Maroc.jpg") %>">

                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Maroc</a>
                                                    <span class="clearfix"></span>

                                                  
                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="/countries/<%= Country.find_by(name: "Maroc").id %>" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Maroc").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 africa">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Nigeria").id %>">
                                                <img src="<%= asset_path("country/Nigeria.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Nigeria</a>
                                                    <span class="clearfix"></span>

                                                </div>
                                            </div>
                                        </div>
                                   
                                          <div class="animate--hover-button">

                                            <a href="/countries/<%= Country.find_by(name: "Nigeria").id %>" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Nigeria").id).length %> articles </a>

                                        </div>
                                    </div>
                                </div>
                            </div>