<div class="masonry row row-sm-padding">
                                <div class="masonry-item col-md-6 col-lg-3 america">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="#">
                                                <img src="<%= asset_path("country/Argentine.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Argentine</a>
                                                    <span class="clearfix"></span>


                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">


                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"><%=Article.where(country_id: Country.find_by(name: "Argentine").id).length %> articles</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 america">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="#">
                                                <img src="<%= asset_path("country/Brésil.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Brésil</a>
                                                    <span class="clearfix"></span>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"><%=Article.where(country_id: Country.find_by(name: "Brésil").id).length %> articles</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 america">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="#">
                                                <img src="<%= asset_path("country/Canada.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Canada</a>
                                                    <span class="clearfix"></span>

                                                </div>
                                            </div>
                                        </div>


                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Canada").id).length %> articles </a>

                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 america">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="#">
                                                <img src="<%= asset_path("country/Colombie.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">


                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Colombie</a>

                                                    <span class="clearfix"></span>

                                        
                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Colombie").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="masonry row row-sm-padding">
                                <div class="masonry-item col-md-6 col-lg-3 america">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="#">
                                                <img src="<%= asset_path("country/Cuba.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Cuba</a>
                                                    <span class="clearfix"></span>

                                                    
                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Cuba").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 america">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="#">
                                                <img src="<%= asset_path("country/Etats-Unis.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Etats-Unis</a>
                                                    <span class="clearfix"></span>


                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Etats-Unis").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 america">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="#">
                                                <img src="<%= asset_path("country/Mexique.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Mexique</a>
                                                    <span class="clearfix"></span>


                                                 
                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Mexique").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 america">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="#">
                                                <img src="<%= asset_path("country/Vénézuela.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Vénézuela</a>
                                                    <span class="clearfix"></span>

                                                    
                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Vénézuela").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
