<div class="masonry row row-sm-padding">
                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Arabie Saoudite").id %>">
                                                <img src="<%= asset_path("country/Arabie-Saoudite.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Arabie Saoudite</a>
                                                    <span class="clearfix"></span>
                                         
                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Arabie Saoudite").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Chine").id %>">
                                                <img src="<%= asset_path("country/Chine.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Chine</a>
                                                    <span class="clearfix"></span>
                                         
                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Chine").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Corée du sud").id %>">
                                                <img src="<%= asset_path("country/Corée-du-sud.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Corée du sud</a>
                                                    <span class="clearfix"></span>


                                                    

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Corée du sud").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="Emirats Arabes Unis">
                                                <img src="<%= asset_path("country/Emirats-Arabes-Unis.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Emirats Arabes Unis</a>
                                                    <span class="clearfix"></span>

                                         
                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Emirats Arabes Unis").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="masonry row row-sm-padding">
                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Hong Kong").id %>">
                                                <img src="<%= asset_path("country/Hong-Kong.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Hong Kong</a>
                                                    <span class="clearfix"></span>

                                                    

                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"><%=Article.where(country_id: Country.find_by(name: "Hong Kong").id).length %> articles</a>

                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Inde").id %>">
                                                <img src="<%= asset_path("country/Inde.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Inde</a>
                                                    <span class="clearfix"></span>

                                                    

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Inde").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Indonésie").id %>">
                                                <img src="<%= asset_path("country/Indonésie.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">


                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Indonésie</a>
                                                    <span class="clearfix"></span>

                                                  


                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"><%=Article.where(country_id: Country.find_by(name: "Indonésie").id).length %> Articles</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Israël").id %>">
                                                <img src="<%= asset_path("country/Israel.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">

                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Israel</a>

                                                    <span class="clearfix"></span>

                                                    
                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Israël").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="masonry row row-sm-padding">
                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Japon").id %>">
                                                <img src="<%= asset_path("country/Japon.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Japon</a>
                                                    <span class="clearfix"></span>

                                                    

                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"><%=Article.where(country_id: Country.find_by(name: "Japon").id).length %> articles</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Malaisie").id %>">
                                                <img src="<%= asset_path("country/Malaisie.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Malaisie</a>
                                                    <span class="clearfix"></span>

                                                    

                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"><%=Article.where(country_id: Country.find_by(name: "Malaisie").id).length %> articles</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Philippines").id %>">
                                                <img src="<%= asset_path("country/Philippines.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Philippines</a>

                                                    <span class="clearfix"></span>
                                                 


                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"><%=Article.where(country_id: Country.find_by(name: "Philippines").id).length %> articles</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Russie").id %>">
                                                <img src="<%= asset_path("country/Russie.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Russie</a>
                                                    <span class="clearfix"></span>

                                                   

                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"><%=Article.where(country_id: Country.find_by(name: "Russie").id).length %> Articles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="masonry row row-sm-padding">
                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Singapour").id %>">
                                                <img src="<%= asset_path("country/Singapour.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Singapour</a>
                                                    <span class="clearfix"></span>

                                                    

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Singapour").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Taïwan").id %>">
                                                <img src="<%= asset_path("country/Taïwan.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Taïwan</a>
                                                    <span class="clearfix"></span>

                                                    

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Taïwan").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>
                            
                            <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Thaïlande").id %>">
                                                <img src="<%= asset_path("country/Thaïlande.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Thaïlande</a>
                                                    <span class="clearfix"></span>

                                                    

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Thaïlande").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%">
                                            <a href="/countries/<%= Country.find_by(name: "Turquie").id %>">
                                                <img src="<%= asset_path("country/Turquie.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Turquie</a>
                                                    <span class="clearfix"></span>

                                                    

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Turquie").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>
                            </div>