<div class="masonry row row-sm-padding">
                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">

                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Allemagne").id %>">
                                                <img src="<%= asset_path("country/Allemagne.jpg") %>">

                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Allemagne</a>
                                                    <span class="clearfix"></span>

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Allemagne").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                    <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Autriche").id %>">
                                                <img src="<%= asset_path("country/Autriche.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Autriche</a>
                                                    <span class="clearfix"></span>

                                

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Autriche").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                    <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Belgique").id %>">
                                                <img src="<%= asset_path("country/Belgique.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Belgique</a>
                                                    <span class="clearfix"></span>


                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Belgique").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                    <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Bulgarie").id %>">
                                                <img src="<%= asset_path("country/Bulgarie.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Bulgarie</a>
                                                    <span class="clearfix"></span>

                                                    </div>
                                                </div>
                                            </div>
                                        
                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Bulgarie").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="masonry row row-sm-padding">
                                    <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "France").id %>">
                                                <img src="<%= asset_path("country/France.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">France</a>
                                                    <span class="clearfix"></span>

                                        
                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "France").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Grèce").id %>">
                                                <img src="<%= asset_path("country/Grèce.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="/countries/<%= Country.find_by(name: "Grèce").id %>" class="heading heading-4 strong-500 mb-0 c-white">Grèce</a>
                                                    <span class="clearfix"></span>
                                            

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Grèce").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                    <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Hongrie").id %>">
                                                <img src="<%= asset_path("country/Hongrie.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Hongrie</a>
                                                    <span class="clearfix"></span>


                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Hongrie").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                    <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Irlande").id %>">
                                                <img src="<%= asset_path("country/Irlande.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Irlande</a>
                                                    <span class="clearfix"></span>

                                        
                                                    </div>
                                                </div>
                                            </div>
                                        
                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Irlande").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                                <div class="masonry row row-sm-padding">
                                    <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Italie").id %>">
                                                <img src="<%= asset_path("country/Italie.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Italie</a>
                                                    <span class="clearfix"></span>


                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Italie").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>


                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Lettonie").id %>">
                                                <img src="<%= asset_path("country/Lettonie.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Lettonie</a>
                                                    <span class="clearfix"></span>


                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Lettonie").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Lituanie").id %>">
                                                <img src="<%= asset_path("country/Lituanie.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Lituanie</a>
                                                    <span class="clearfix"></span>


                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Lituanie").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Norvège").id %>">
                                                <img src="<%= asset_path("country/Norvège.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Norvège</a>
                                                    <span class="clearfix"></span>


                                                </div>
                                            </div>
                                        </div>
                              
                                      <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Norvège").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="masonry row row-sm-padding">
                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Pays-Bas").id %>">
                                                <img src="<%= asset_path("country/Pays-Bas.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Pays-Bas</a>
                                                    <span class="clearfix"></span>

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Pays-Bas").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Pologne").id %>">
                                                <img src="<%= asset_path("country/Pologne.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Pologne</a>
                                                    <span class="clearfix"></span>

                     

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Pologne").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Portugal").id %>">
                                                <img src="<%= asset_path("country/Portugal.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Portugal</a>
                                                    <span class="clearfix"></span>

                                      

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Portugal").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "République Tchèque").id %>">
                                                <img src="<%= asset_path("country/République-Tchèque.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">République Tchèque</a>
                                                    <span class="clearfix"></span>


                                                </div>
                                            </div>
                                        </div>
                                    

                                      <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "République Tchèque").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="masonry row row-sm-padding">
                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Roumanie").id %>">
                                                <img src="<%= asset_path("country/Roumanie.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Roumanie</a>
                                                    <span class="clearfix"></span>

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Roumanie").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Royaume-Uni").id %>">
                                                <img src="<%= asset_path("country/Royaume-Uni.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Royaume-Uni</a>
                                                    <span class="clearfix"></span>


                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Royaume-Uni").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                       
                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Serbie").id %>">
                                                <img src="<%= asset_path("country/Serbie.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Serbie</a>
                                                    <span class="clearfix"></span>

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Serbie").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                    <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Slovaquie").id %>">
                                                <img src="<%= asset_path("country/Slovaquie.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Slovaquie</a>
                                                    <span class="clearfix"></span>

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Slovaquie").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                    <div class="masonry row row-sm-padding">
                                        <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Slovénie").id %>">
                                                <img src="<%= asset_path("country/Slovénie.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Slovénie</a>
                                                    <span class="clearfix"></span>


                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Slovénie").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                        <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Suède").id %>">
                                                <img src="<%= asset_path("country/Suède.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Suède</a>
                                                    <span class="clearfix"></span>

                                      
                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Suède").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                        <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Suisse").id %>">
                                                <img src="<%= asset_path("country/Suisse.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Suisse</a>
                                                    <span class="clearfix"></span>

                                                </div>
                                            </div>
                                        </div>

                                          <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Suisse").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>

                                        <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <div style="max-height: 340px; width: 100%"> 
                                            <a href="/countries/<%= Country.find_by(name: "Ukraine").id %>">
                                                <img src="<%= asset_path("country/Ukraine.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">

                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Ukraine</a>
                                                    <span class="clearfix"></span>
                                              
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle"> <%=Article.where(country_id: Country.find_by(name: "Ukraine").id).length %> articles </a>
                                        </div>
                                    </div>
                                </div>
                            </div>