

                    <!-- Slider -->
                    <section class="swiper-js-container background-image-holder" data-holder-type="fullscreen" data-holder-offset=".navbar">
    <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-items="1" data-swiper-space-between="0" data-swiper-sm-items="1" data-swiper-sm-space-between="0" data-swiper-xs-items="1" data-swiper-xs-space-between="0">
        <div class="swiper-wrapper">
            <!-- Slide -->
            <div class="swiper-slide" data-swiper-autoplay="5000">
                <div class="slice holder-item holder-item-light has-bg-cover bg-size-cover" style="background-image: url(<%= asset_path('img-29.jpg') %>)"; background-position: bottom bottom;">
                    <div class="container d-flex align-items-center no-padding">
                        <div class="col">
                            <div class="row row-cols-xs-spaced align-items-center py-5 text-center justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="heading heading-xl-x2 strong-700 c-white text-uppercase animated" data-animation-in="zoomIn" data-animation-onetime="false" data-animation-delay="200">
                                        <span style="opacity: 0.4;">Découvrir</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide -->
            <div class="swiper-slide" data-swiper-autoplay="5000">
                <div class="slice holder-item holder-item-light has-bg-cover bg-size-cover" style="background-image: url(<%= asset_path('img-29.jpg') %>)"; background-position: bottom bottom;">
                    <div class="container d-flex align-items-center no-padding">
                        <div class="col">
                            <div class="row row-cols-xs-spaced align-items-center py-5 text-center justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="heading heading-xl-x2 strong-700 c-white text-uppercase animated" data-animation-in="zoomIn" data-animation-onetime="false" data-animation-delay="200">
                                        <span style="opacity: 0.4;">Explorer</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide -->
            <div class="swiper-slide" data-swiper-autoplay="5000">
                <div class="slice holder-item holder-item-light has-bg-cover bg-size-cover" style="background-image: url(<%= asset_path('img-29.jpg') %>)"; background-position: bottom bottom;">
                    <div class="container d-flex align-items-center no-padding">
                        <div class="col">
                            <div class="row row-cols-xs-spaced align-items-center py-5 text-center justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="heading heading-xl-x2 strong-700 c-white text-uppercase animated" data-animation-in="zoomIn" data-animation-onetime="false" data-animation-delay="200">
                                        <span style="opacity: 0.4;">En savoir plus</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button swiper-button-next"></div>
        <div class="swiper-button swiper-button-prev"></div>
    </div>
</section>

                    <section class="slice sct-color-1" id="scrollToSection">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-2">
                                <h3 class="section-title-inner heading-2 strong-400">
                                    <span>Top informations</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                                Start building fast, beautiful and modern looking websites in no time using our theme.
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="masonry-filter-menu link-menu link-menu--style-3 text-center">
                                <a class="btn-filter default" data-filter="europe">Europe</a>
                                <a class="btn-filter" data-filter="asia">Asie</a>
                                <a class="btn-filter" data-filter="africa">Afrique</a>
                                <a class="btn-filter" data-filter="america">Amerique</a>
                                <a class="btn-filter" data-filter="australia">Océanie</a>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="masonry row row-sm-padding">
                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-1.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Grèce</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">11 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-2.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Grande Bretagne</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">15 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-3.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Italie</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">20 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 europe">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-4.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">France</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">16 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Asia -->
                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-5.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Bangkok</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">5 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-6.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Thailande</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">18 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-7.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Tokyo</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">15 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 asia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-8.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Chine</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">14 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Africa -->
                                <div class="masonry-item col-md-6 col-lg-3 africa">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-9.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Angola</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">10 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 africa">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-10.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Madagascar</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">13 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 africa">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-11.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Afrique du sud</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">17 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 africa">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-12.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Tanzanie</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">4 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- America -->
                                <div class="masonry-item col-md-6 col-lg-3 america">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-13.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">New York</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">34 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 america">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-14.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">San Fancisco</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">16 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 america">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-15.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Chicago</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">9 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 america">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-16.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Miami</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">68 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Australia -->
                                <div class="masonry-item col-md-6 col-lg-3 australia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-17.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Queensland</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">11 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 australia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-18.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Sydney</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">15 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 australia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-19.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Grande barrière de récif</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">12 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="masonry-item col-md-6 col-lg-3 australia">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= asset_path("img-20.jpg") %>">
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Ile Fraser</a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">10 places</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="animate--hover-button">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-2 btn-circle">See offers</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <section class="slice sct-color-1">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-2">
                                <h3 class="section-title-inner heading-2 strong-400">
                                    <span>TV en direct</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                                Regardez en direct les denières informations en français.
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card z-depth-2-top">
                                        <div class="card-image">
                                            <img src="<%= asset_path("euronews.jpeg") %>" class="img-responsive img-center">

                                            <a href="https://www.youtube.com/watch?v=TWt6XkYMD_U" data-fancybox>
                                                <span class="play-video kd-animate">
                                                    <i class="fa fa-play"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <small><em></em></small>
                                            <h3 class="heading heading-5 strong-500">
                                                <a href="#">Euronews en direct</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card z-depth-2-top">
                                        <div class="card-image">
                                            <img src="<%= asset_path("france24.jpeg") %>" class="img-responsive img-center">

                                            <a href="https://www.youtube.com/watch?v=a-M_5rGhPdg" data-fancybox>
                                                <span class="play-video kd-animate">
                                                    <i class="fa fa-play"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <small><em></em></small>
                                            <h3 class="heading heading-5 strong-500">
                                                <a href="#">France24 en direct</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card z-depth-2-top">
                                        <div class="card-image">
                                            <img src="<%= asset_path("franceinfo.png") %>" class="img-responsive img-center">

                                            <a href="https://www.youtube.com/watch?v=wwNZKfBLAsc" data-fancybox>
                                                <span class="play-video kd-animate">
                                                    <i class="fa fa-play"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <small><em></em></small>
                                            <h3 class="heading heading-5 strong-500">
                                                <a href="#">Franceinfo en direct</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <section class="slice sct-color-1">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-2">
                                <h3 class="section-title-inner heading-2 strong-400">
                                    <span>Explore by activity</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                                Start building fast, beautiful and modern looking websites in no time using our theme.
                            </div>

                            <span class="space-xs-xl"></span>
                        </div>

                        <div class="container relative swiper-js-container">
                            <div class="swiper-container" data-swiper-autoplay="false" data-swiper-items="4" data-swiper-space-between="0" data-swiper-sm-items="3" data-swiper-sm-space-between="0" data-swiper-xs-items="1" data-swiper-sm-space-between="0">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" data-swiper-autoplay="5000">
                                        <div class="block block-image-holder no-radius">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="<%= asset_path("img-tall-1.jpg") %>">
                                                </a>
                                            </div>
                                            <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                                                <div class="block-info-inner animate-translate--up">
                                                    <div class="text-center">
                                                        <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Family holidays</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide" data-swiper-autoplay="5000">
                                        <div class="block block-image-holder no-radius">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="<%= asset_path("img-tall-2.jpg") %>">
                                                </a>
                                            </div>
                                            <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                                                <div class="block-info-inner animate-translate--up">
                                                    <div class="text-center">
                                                        <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Couple holidays</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide" data-swiper-autoplay="5000">
                                        <div class="block block-image-holder no-radius">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="<%= asset_path("img-tall-3.jpg") %>">
                                                </a>
                                            </div>
                                            <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                                                <div class="block-info-inner animate-translate--up">
                                                    <div class="text-center">
                                                        <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Mountain climbing</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide" data-swiper-autoplay="5000">
                                        <div class="block block-image-holder no-radius">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="<%= asset_path("img-tall-4.jpg") %>">
                                                </a>
                                            </div>
                                            <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                                                <div class="block-info-inner animate-translate--up">
                                                    <div class="text-center">
                                                        <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Cycling and sports</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide" data-swiper-autoplay="5000">
                                        <div class="block block-image-holder no-radius">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="<%= asset_path("img-tall-5.jpg") %>">
                                                </a>
                                            </div>
                                            <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                                                <div class="block-info-inner animate-translate--up">
                                                    <div class="text-center">
                                                        <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Festivals</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide" data-swiper-autoplay="5000">
                                        <div class="block block-image-holder no-radius">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="<%= asset_path("img-tall-6.jpg") %>">
                                                </a>
                                            </div>
                                            <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                                                <div class="block-info-inner animate-translate--up">
                                                    <div class="text-center">
                                                        <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Wildlife and nature</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-button--style-2 swiper-button-prev"></div>
                            <div class="swiper-button--style-2 swiper-button-next"></div>
                        </div>
                    </section>

                    <section class="slice sct-color-1">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center">
                                <h4 class="heading heading-xs text-uppercase c-base-1 strong-600">Hilights</h4>
                                <h3 class="section-title-inner heading-2 strong-500">
                                    <span>Explore the city of London</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>
                            <span class="space-xs-md"></span>

                            <div class="row align-items-center">
                                <div class="col-lg-6 col-sm-12 col-12">
                                    <div class="py-4">
                                        <ul class="inline-links">
                                            <li>
                                                <i class="fa fa-home"></i>
                                                <a href="#">5.5 mil</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-bed"></i>
                                                <a href="#">10 guided tours</a>
                                            </li>
                                        </ul>

                                        <p class="mt-4">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                        </p>

                                        <a href="#" class="btn btn-styled btn-base-1 btn-circle mt-4">Discover more</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-12 col-12">
                                    <img src="<%= asset_path("img-wide-1.jpg") %>" class="img-fluid rounded z-depth-3">
                                </div>
                            </div>
                        </div>
                    </section>

                    
                   <section class="slice sct-color-1">
                        <div class="container">
                            <div class="row row-sm-padding align-items-center">
                                <div class="col-12 col-lg-4 push-lg-8">
                                    <div class="pl-5">
                                        <h3 class="heading heading-3 strong-400">
                                            <span>Last minute</span>
                                        </h3>
                                        <span class="badge bg-pink">Hot</span>

                                        <span class="clearfix"></span>

                                        <p class=" mt-4">
                                            Start building fast, beautiful and modern looking websites in no time using our theme.
                                        </p>

                                    </div>
                                </div>

                                <div class="col-12 col-lg-8 pull-lg-4">
                                    <div class="row cols-xs-space cols-sm-space">
                                        <div class="col-lg-4">
                                            <div class="block block-image-holder">
                                                <div class="block-image">
                                                    <a href="#">
                                                        <img src="<%= asset_path("img-4.jpg") %>">
                                                    </a>
                                                </div>
                                                <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                                                    <div class="block-info-inner">
                                                        <div class="text-center">
                                                            <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Beware the mountain</a>
                                                            <span class="clearfix"></span>
                                                            <small class="text-uppercase c-white">Web design</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="block block-image-holder">
                                                <div class="block-image">
                                                    <a href="#">
                                                        <img src="<%= asset_path("img-5.jpg") %>">
                                                    </a>
                                                </div>
                                                <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                                                    <div class="block-info-inner">
                                                        <div class="text-center">
                                                            <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Beware the mountain</a>
                                                            <span class="clearfix"></span>
                                                            <small class="text-uppercase c-white">Web design</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="block block-image-holder">
                                                <div class="block-image">
                                                    <a href="#">
                                                        <img src="<%= asset_path("img-6.jpg") %>">
                                                    </a>
                                                </div>
                                                <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                                                    <div class="block-info-inner">
                                                        <div class="text-center">
                                                            <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Beware the mountain</a>
                                                            <span class="clearfix"></span>
                                                            <small class="text-uppercase c-white">Web design</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice-xl bg-base-1">
                        <div class="container sct-inner">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div class="section-title section-title-inverse section-title--style-1 text-center mb-2">
                                        <h3 class="section-title-inner heading-3">
                                            Get the hottest offers right in your inbox
                                        </h3>
                                    </div>

                                    <span class="clearfix"></span>

                                    <div class="fluid-paragraph fluid-paragraph-sm c-gray-lighter strong-300 text-center">
                                        Sign up now.
                                    </div>

                                    <span class="space-xs-xl"></span>

                                    <form role="form" class="search-widget search-widget--style-5 mt-5">
                                        <input class="form-control input-lg" type="text" placeholder="you@example.com">
                                        <button type="button" class="btn-inner text-uppercase strong-600">
                                            Sign up
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <span class="clearfix"></span>
                    </section>

                   