<h1>NEWS</h1>


	<table>
	

	<thead>
		<th>Nom de la source</th>
		<th>Auteur</th>
		<th>Titre</th>
		<th>Description</th>
	

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3328fb55b4411b0aadaa63670/7dbce2704c09eaaed82116f8c.js");</script>


	</thead>

	<tbody>
		<% @response_body['articles'].each do |article| %>
	<tr>
	<td><%= article["source"]['name'] %></td>
	<td><%= article["author"] %></td>
	<td><%= EasyTranslate.translate(article["description"], :to => :french)  %></td>
	<td><a href= "<%= "https://translate.google.fr/translate?sl=en&tl=fr&js=y&prev=_t&hl=fr&ie=UTF-8&u="+ article["url"] +"&edit-text=&act=url"%>"> <img src="<%= article["urlToImage"] %>" alt="Image de l'article" > </a></td>
	<td></td>

</tr>
<% end %>


</tbody>
</table>






	






