<h1>NEWS</h1>

	<%= @response_body %>

	<h1>C'est fini !</h1>
	<div>
<% @response_body['articles'].each do |article| %>
	<%= article["source"]['name'] %> </br> 
	<%= article["author"] %></br> 
	<%= article["title"] %></br>
	<%= article["description"] %></br>
	<%= article["url"] %></br>
	<%= article["urlToImage"] %></br>

	 </br> </br> 
<% end %>
</div>




	






