 <section class="slice sct-color-1">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center">
                                <h3 class="section-title-inner heading-3 strong-500 mt-0 text-capitalize">
                                    <span>Tous les pays disponibles</span>
                                </h3>
                            </div>

                            <div class="row cols-md-space cols-sm-space cols-xs-space">
                                <div class="col-lg-3">
                                    <h3 class="heading heading-5 strong-500">Amerique</h3>
                                    <ul class="categories categories--style-1">
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Argentine</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Brésil</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Canada</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Colombie</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Cuba</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Mexique</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Etats-Unis</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Vénézuela</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-3">
                                    <h3 class="heading heading-5 strong-500">Asie</h3>
                                    <ul class="categories categories--style-1">
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Chine</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Hong Kong</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Inde</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Indonésie</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Japon</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Malaisie</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Philippines</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Russie</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-3">
                                    <h3 class="heading heading-5 strong-500">Asie (suite)</h3>
                                    <ul class="categories categories--style-1">
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Arabie Saoudite</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Singapour</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Corée du sud</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Taiwan</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Thailande</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Emirats Arabes Unis</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Turquie</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Israel</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-3">
                                    <h3 class="heading heading-5 strong-500">Afrique</h3>
                                    <ul class="categories categories--style-1">
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Egypte</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Maroc</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Nigeria</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Afrique du sud</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                        

                    <div class="col-lg-3">
                                    <h3 class="heading heading-5 strong-500">Océanie</h3>
                                    <ul class="categories categories--style-1">
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Australie</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Nouvelle Zélande</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                 <div class="col-lg-3">
                                    <h3 class="heading heading-5 strong-500">Europe</h3>
                                    <ul class="categories categories--style-1">
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Autriche</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Belgique</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Bulgarie</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">République Tchèque</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">France</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Allemagne</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Grèce</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Hongrie</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                  
                                <div class="col-lg-3">
                                    <h3 class="heading heading-5 strong-500">Europe (suite)</h3>
                                    <ul class="categories categories--style-1">
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Irlande</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Italie</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Lettonie</span>
                                            </a>
                                        </l<li>
                                            <a href="#">
                                                <span class="pull-left">Lituanie</span>
                                            </a>
                                        </li>                             
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Pays-Bas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Norvège</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Pologne</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Portugal</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-3">
                                    <h3 class="heading heading-5 strong-500">Europe (suite)</h3>
                                    <ul class="categories categories--style-1">
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Roumanie</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Serbie</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Slovaquie</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Slovénie</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Suède</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Suisse</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Ukraine</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="pull-left">Royaume-uni</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>


                    <!-- FOOTER -->
                    <footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-5">
                    <div class="col">
                        <img src="<%= asset_path("black-logo.png") %>" alt="black-logo" style="width: 50%;">
                        <span class="clearfix"></span>
                        <span class="heading heading-sm c-gray-light strong-400"></span>
                        <p class="mt-3">
                            
                        </p>

                        <div class="copyright mt-4">
                            <p>
                                Copyright &copy; 2018                                <a href="https://webpixels.io" target="_blank">
                                    <strong>WestCoastMarseille</strong>
                                </a> -
                                Tous droits reservés
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="col">
                       <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                           Support
                       </h4>

                       <ul class="footer-links">
                            <li><a href="#" title="Help center">Aide</a></li>
                            <li><a href="#" title="Discussions">Discussions</a></li>
                            <li><a href="#" title="Contact support">Contact</a></li>
                            <li><a href="#" title="Blog">Blog</a></li>
                            <li><a href="#" title="Jobs">FAQ</a></li>
                        </ul>
                     </div>
                </div>

                <div class="col-lg-2">
                    <div class="col">
                        <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                            WestCoastMarseille
                        </h4>

                        <ul class="footer-links">
                             <li>
                                 <a href="#" title="Home">
                                     Accueil
                                 </a>
                             </li>
                             <li>
                                 <a href="#" title="About us">
                                     A propos de nous
                                 </a>
                             </li>
                             <li>
                                 <a href="#" title="Services">
                                     Services
                                 </a>
                             </li>
                             <li>
                                 <a href="#" title="Blog">
                                     Blog
                                 </a>
                             </li>
                             <li>
                                 <a href="#" title="Contact">
                                     Contact
                                 </a>
                             </li>
                         </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="col">
                        <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                            Restons en contact
                        </h4>

                        <ul class="social-media social-media--style-1-v4">
                            <li>
                                <a href="#" class="facebook" target="_blank" data-toggle="tooltip" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram" target="_blank" data-toggle="tooltip" data-original-title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div>
</div><!-- END: body-wrap -->

<!-- SCRIPTS -->
<a href="#" class="back-to-top btn-back-to-top"></a>
<script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>

<!-- Core -->
<script src="<%= asset_path("jquery.min.js") %>"></script>
<script src="<%= asset_path("popper.min.js") %>"></script>
<script src="<%= asset_path("bootstrap.min.js") %>"></script>
<script src="<%= asset_path("slidebar.js") %>"></script>
<script src="<%= asset_path("classie.js") %>"></script>

<!-- Bootstrap Extensions -->
<script src="<%= asset_path("bootstrap-growl.min.js") %>"></script>
<script src="<%= asset_path("scrollpos-styler.js") %>"></script>

<!-- Plugins: Sorted A-Z -->
<script src="<%= asset_path("adaptive-backgrounds.js") %>"></script>
<script src="<%= asset_path("jquery.countdown.min.js") %>"></script>
<script src="<%= asset_path("dropzone.min.js") %>"></script>
<script src="<%= asset_path("jquery.easypiechart.min.js") %>"></script>
<script src="<%= asset_path("jquery.fancybox.min.js") %>"></script>
<script src="<%= asset_path("flatpickr.min.js") %>"></script>
<script src="<%= asset_path("flip.min.js") %>"></script>
<script src="<%= asset_path("footer-reveal.min.js") %>"></script>
<script src="<%= asset_path("jquery.gradientify.min.js") %>"></script>
<script src="<%= asset_path("headroom.min.js") %>"></script>
<script src="<%= asset_path("jquery.headroom.min.js") %>"></script>
<script src="<%= asset_path("input-mask.min.js") %>"></script>
<script src="<%= asset_path("instafeed.js") %>"></script>
<script src="<%= asset_path("jquery.countTo.js") %>"></script>
<script src="<%= asset_path("nouislider.min.js") %>"></script>
<script src="<%= asset_path("paraxify.min.js") %>"></script>
<script src="<%= asset_path("select2.min.js") %>"></script>
<script src="<%= asset_path("sticky-kit.min.js") %>"></script>
<script src="<%= asset_path("swiper.min.js") %>"></script>
<script src="<%= asset_path("autosize.min.js") %>"></script>
<script src="<%= asset_path("typeahead.bundle.min.js") %>"></script>
<script src="<%= asset_path("typed.min.js") %>"></script>
<script src="<%= asset_path("vide.min.js") %>"></script>
<script src="<%= asset_path("viewportchecker.min.js") %>"></script>
<script src=></script>

<!-- Isotope -->
<script src="<%= asset_path("isotope.min.js") %>"></script>
<script src="<%= asset_path("imagesloaded.pkgd.min.js") %>"></script>



<!-- App JS -->
<script src="<%= asset_path("boomerang.min.js") %>"></script>

</body>
</html>


