<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="robots" content="index, follow">
<meta name="description" content="Lisez la presse du monde entier traduite en français, pour ouvrir vos horizons et plonger dans d'autres cultures.">
<meta name="keywords" content="news, infos, informations, information, presse, international, monde, article, articles, voyage, étranger, pays, continent">
<meta name="author" content="Webpixels">

<title>Infos sans frontière</title>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120734350-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120734350-1');
</script>

<!-- Bootstrap -->
<link rel="stylesheet" href="<%= asset_path("bootstrap.min.css") %>" type="text/css">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet"> 

<!-- Plugins -->
<link rel="stylesheet" href="<%= asset_path("swiper.min.css") %>">
<link rel="stylesheet" href="<%= asset_path("hamburgers.min.css") %>" type="text/css">
<link rel="stylesheet" href="<%= asset_path("animate.min.css") %>" type="text/css">
<link rel="stylesheet" href="<%= asset_path("jquery.fancybox.min.css") %>">

<!-- Icons -->
<link rel="stylesheet" href="<%= asset_path("font-awesome.min.css") %>" type="text/css">
<link rel="stylesheet" href="<%= asset_path("ionicons.min.css") %>" type="text/css">
<link rel="stylesheet" href="<%= asset_path("line-icons.css") %>" type="text/css">
<link rel="stylesheet" href="<%= asset_path("line-icons-pro.css") %>" type="text/css">

<!-- Linea Icons -->
<link rel="stylesheet" href="<%= asset_path("linea-icons.css") %>" type="text/css">
<link rel="stylesheet" href="<%= asset_path("linea-icons.css") %>" type="text/css">
<link rel="stylesheet" href="<%= asset_path("linea-icons.css") %>" type="text/css">
<link rel="stylesheet" href="<%= asset_path("linea-icons.css") %>" type="text/css">
<link href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Global style (main) -->
<link id="stylesheet" type="text/css" href="<%= asset_path("boomerang.min.css") %>" rel="stylesheet" media="screen">

<!-- Custom style - Remove if not necessary -->
<link type="text/css" href="<%= asset_path("custom-style.css") %>" rel="stylesheet">

<!-- Favicon -->
<link href="<%= asset_path("favicon.png") %>" rel="icon" type="image/png">


</head>
<body>


<!-- MAIN WRAPPER -->
<div class="body-wrap masonry-container">
    <div id="st-container" class="st-container">

        <nav class="st-menu st-effect-1" id="menu-1">
    <div class="st-profile">
        
          
            </div>

    
</nav>

        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">
                    <!-- Header -->
                    <div class="header">
    <!-- Top Bar -->
    
    <!-- Global Search -->
    <section id="sctGlobalSearch" class="global-search global-search-overlay">
    <div class="container">
        <div class="global-search-backdrop mask-dark--style-2"></div>

        <!-- Search form -->
        <form class="form-horizontal form-global-search z-depth-2-top" role="form">
            <div class="px-4">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="search-input" placeholder="Type and hit enter ...">
                    </div>
                </div>
            </div>
            <a href="#" class="close-search" data-toggle="global-search" title="Close search bar"></a>
        </form>
    </div>
</section>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar--bold navbar-light bg-default ">
        <div class="container navbar-container">
            <!-- Brand/Logo -->
                        <a class="navbar-brand" href="/">
                <img src="<%= asset_path("infos-sans-frontiere-logo.png") %>" class="" alt="infos-sans-frontiere" style="width: 35%;">
                            </a>
            
            
       
        


                    
    <div>
        <% if user_signed_in? %>
        <%else%>
            <a class="btn btn-styled btn-sm btn-base-1 text-uppercase btn-circle" href="<%= new_user_registration_path %>">
              S'inscrire
           </a>
        <% end %>
    </div>
    <div>


    <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item">

            <% if user_signed_in? %>
                <%= link_to('Se déconnecter', destroy_user_session_path, method: :delete , :class => "btn btn-large btn-danger" , :data => {:confirm => 'Etes vous sur de vouloir vous déconnecter ?'}) %>

            <% else %>
            <a href="<%= new_user_session_path %>" class="nav-link">
               Se connecter
            </a>

            <% end %>
        </li>
    </ul>
</div>


        </div>
    </nav>
</div>
